.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    
  .myButton {
    background-color: #e5e3e3; /* Green */
    /* other styles... */
    /* display: flex;
    justify-content: space-around; */
    font-size: 40px; /* Increase the size of the text */
    padding: 15px 15px; /*Increase the size of the button */
  }
  
  .specialButton {
    background-color: #FFD700; /* Gold */
    /* other styles... */
    /* display: flex;
    justify-content: space-around; */
    font-size: 40px; /* Increase the size of the text */
    padding: 15px 15px; /* Increase the size of the button */
  }

  .shuffleButton {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    /*margin: 100px;*/
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(192, 192, 192);
  }
  
  /* .myButton, .specialButton {
    position: relative;
    height: 50px;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
}

.myButton:before, .myButton:after, .specialButton:before, .specialButton:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 52%;
    background: inherit;
}

.myButton:before, .specialButton:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.myButton:after, .specialButton:after {
    right: 0;
    transform: skew(0deg, -30deg);
} */
